* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #515076;
}

p, h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
}

.title {
    font-size: 70px;
    font-weight: 400;
    line-height: 78px;
    text-align: center;
    padding-top: 220px;
    padding-bottom: 110px;
    position: relative;
    z-index: 10;
}

.container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;
    width: 1110px;
    position: relative;
    z-index: 1;
}

.product-card {
    width: 340px;
    background-color: #F7F7FA;
    padding: 25px;
}

.bg-dandeliones {
    position: absolute;
    z-index: -1;
    top: -408px;
    left: 0;
    background-image: url(images/bg_dandelions.png);
    width: 790px;
    height: 697px;
}

.card-img {
    width: 290px;
    height: 245px;
    margin-bottom: 25px;
}

.selection-skin {
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    color: #A5A3B9;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.head {
    font-size: 20px;
    font-weight: bold;
    line-height: 27px;
    margin-bottom: 5px;
}

.description {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 15px;
    width: 287px;
}

.composition {
    line-height: 18px;
    margin-bottom: 5px;
}

.composition-list {
    list-style-type: circle;
    padding-left: 15px;
}

.composition-item {
    line-height: 18px;
    margin-bottom: 5px;
}

.card-price-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.card-price-text {
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
}

.card-price {
    font-size: 20px;
    line-height: 24px;
}






